.section {
  background-color: tomato;
  width: 100vw;
  height: 100vh;
}
.section__list {
  background-color: green;
}
%placeholder {
  width: 200px;
  height: 200px;
}
.section__item {
  background-color: teal;

  @extend %placeholder;
}
